<meta property="laterpay:connector:article_id" content="custom_article_id_for_in_page_config_example_page">
<meta property="laterpay:connector:callbacks:on_user_has_access" content="myGlobalCallbackFunction">
<meta property="laterpay:connector:appearance:purchase_overlay:variant" content="raw-white">
<meta property="laterpay:connector:appearance:purchase_overlay:show_single_item_purchase_list" content="false">
<meta property="laterpay:connector:appearance:purchase_overlay:show_payment_methods" content="false">
<meta property="laterpay:connector:appearance:purchase_overlay:primary_color" content="#0000FF">
<meta property="laterpay:connector:translations:purchase_button:label_with_price" content="Artikel sofort weiterlesen für nur %s">
<meta property="laterpay:connector:translations:purchase_overlay:body_text" content="&lt;ul&gt;&lt;li&gt;Keine Bindung&lt;/li&gt;&lt;li&gt;Keine Vorabregistrierung&lt;/li&gt;&lt;li&gt;Sie bezahlen erst, wenn Sie eine Summe von fünf Euro erreichen&lt;/li&gt;&lt;/ul&gt;">
<meta property="laterpay:connector:translations:purchase_overlay:notes_text" content="&lt;strong&gt;Lorem ipsum dolor sit amet, consetetur sadipscing elitr&lt;/strong&gt; &lt;br&gt; At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.">
<meta property="laterpay:connector:translations:purchase_overlay:footer_text" content="So funktioniert es: &lt;a href=&quot;#&quot;&gt;LaterPay&lt;/a&gt; | &lt;a href=&quot;#&quot;&gt;User ID&lt;/a&gt;">
